@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {margin: 0;font-family: "Mulish", sans-serif;}
code {font-family: "Mulish", sans-serif;}
.container{padding: 40px;}
.btn-prmry {
  background-color: #FF6400;
  color: #ffff;
  border: none;
  border-radius: 50px;
  top: 38.5px;
  left: 1202px;
  padding: 14px 23px 14px 23px;
  gap: 10px;
  opacity: 0px;
  cursor: pointer;
}